.header {
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	background-color: var(--background);
	background-image: var(--background-image);
	height: 4.2em;
	margin: 0 auto;
	box-shadow: 0 0 0 transparent;
	border-bottom: 1px solid rgb(27, 27, 32);
	padding: 0em 5em;
	z-index: 9000;
	transition: box-shadow 0.2s;
	animation: start 1.5s;
}

@keyframes start {
	from {
		transform: translateY(-66px);
	}

	to {
		transform: translateY(0px);
	}
}

.shadow {
	box-shadow: var(--shadow-nav-mob);
	transition: box-shadow 0.2s;
}

@media (max-width: 1050px) {
	.header {
		height: 3.8em;
		padding: 0 2em;
		transform: none;
	}
}

@media (max-width: 600px) {
	.header {
		background-size: 100%;
	}
}