.learning {
	padding: 2em;
	border-radius: 16px;
	margin: 0 auto;
	text-align: center;
	box-shadow: var(--shadow);
	transition: transform 0.2s;
}

.learning h3 {
	margin-bottom: 5px;
}

.learning:hover {
	transform: translateY(-7px);
	/* transform: scale(1.03); */
}

.description {
	margin-top: 1em;
}

.stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.2em 0;
}

.stackItem {
	margin: 0.5em;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--clr-fg-alt);
}

.learning .linkIcon {
	display: flex;
	margin-left: 0.5em;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}