.navbar {
	width: 100%;
	max-width: 1200px;
}

.list {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	height: 100%;
	display: flex;
	justify-content: space-between;
	transition: visibility 0.3s, opacity 0.3s;
	align-items: center;
}

.list li {
	margin: 0 0 4px;
}

.link {
	color: var(--primary);
	padding: 0 0 0.3em 0;
	position: relative;
	transition: color 0.5s;
}

.link::before {
	content: '';
	display: inline;
	width: 90%;
	right: 5%;
	left: 5%;
	top: 48px;
	opacity: 0%;
	height: 5px;
	position: absolute;
	bottom: 0;
	background-color: var(--primary);
	transition: opacity 0.25s;
}

.active .link::before {
	opacity: 100%;
	transition: opacity 0s;
}

.unactive .link::before {
	opacity: 0%;
	/* transition: opacity 0s; */
}

.link:hover::before,
.link:focus::before {
	opacity: 100%;
}

.hamburger {
	color: var(--primary) !important;
	display: none !important;
	z-index: 5000;
}

.theme {
	margin-top: 0.4em;
}

.about,
.logoMob {
	display: none;
}

@media (max-width: 1050px) {

	.navbar {
		display: flex;
		justify-content: space-between;
	}

	.about,
	.logoMob {
		display: block;
	}

	.logo {
		display: none;
	}

	.visible {
		visibility: visible;
		opacity: 100%;
	}

	.invisible {
		visibility: hidden;
		opacity: 0%;
		transition: visibility 0s, opacity 0s;
	}

	.list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		font-size: 1.6em;
		background-color: var(--background);
	}

	.link:before {
		opacity: 0% !important;
	}

	.listItem {
		margin: 0.35em 0 !important;
	}

	.hamburger {
		display: flex !important;
		margin-left: 0.8em;
		background-color: transparent;
		-webkit-tap-highlight-color: transparent;
		transition: visibility 0.3s, opacity 0.3s;
		height: 100%;
		align-items: center;
		z-index: 5000;
	}

	.hamburger:hover {
		color: var(--hover);
	}

	.hamburger:active {
		color: var(--primary);
	}
}

.logo {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

.svg {
	fill: var(--primary);
	margin-top: -3px;
	width: 70px;
	height: 70px;
	transition: transform 0.3s;
}

@media (min-width: 1050px) {
	.svg:hover {
		transform: scale(1.1) translate(0, 3px);
	}

	.svg:active {
		transform: scale(0.95) translate(0, 3px);
	}
}

@media (max-width: 1050px) {
	.svg {
		margin-top: -2px;
		transform: scale(0.9);
	}

	.svg:active {
		transform: scale(0.75);
	}
}