.list {
	font-size: 19px !important;
	display: flex;
	transition: visibility 0.3s, opacity 0.3s;
}

.listItem {
	margin-left: 1.5em;
}

.hamburger {
	color: var(--clr-fg-alt);
	display: none !important;
}

.hamburger:hover {
	color: var(--clr-primary);
}

.theme {
	margin-top: 0.4em;
}

.about {
	display: none;
}

@media (max-width: 970px) {

	.about {
		display: block;
	}

	.visible {
		visibility: visible;
		opacity: 100%;
	}

	.invisible {
		visibility: hidden;
		opacity: 0%;
		transition: visibility 0s, opacity 0s;
	}

	.list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		font-size: 26px !important;
		background-color: var(--clr-bg);
		z-index: 250;
	}

	.listItem {
		margin: 0.5em 0;
	}

	.hamburger {
		display: flex !important;
		margin-left: 0.8em;
		background-color: transparent;
		-webkit-tap-highlight-color: transparent;
		transition: visibility 0.3s, opacity 0.3s;
		z-index: 300;
	}

	.hamburger:hover {
		color: var(--clr-fg-alt);
	}

	.hamburger:active {
		color: var(--clr-primary);
	}
}