.list {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1.75em;
}

@media (max-width: 975px) {
	.list {
		max-width: 100%;
	}
}

.item {
	margin: 0.5em;
	color: var(--font);
	background-color: var(--background-bright);
	cursor: default;
	border-radius: 12px;
	border: 2px solid var(--primary);
	padding: 0.7em 1.3em;
	font-weight: 500;
	transition: all 0.25s ease-out;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	border: 0;
}

.item:hover {
	color: var(--hover);
}

.skills {
	position: relative;
	text-align: center;
	z-index: 10;
}

.skills h1 {
	font-size: 3em;
	text-transform: lowercase;
	margin: 0.5em 0;
}