.learning {
	padding: 2em;
	border-radius: 50px;
	margin: 0 auto;
	/* text-align: center; */
	/* border: 2px solid rgb(255 200 116 / 6%); */
}

.learning h3 {
	margin-bottom: 5px;
}

.description {
	margin-top: 1em;
}

.stack {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	margin: 1.2em 0;
}

.stackItem {
	margin: 0.5em;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--font-hs);
}

.learning .linkIcon {
	display: flex;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}