.contact {
	padding: 3.75vh 5em;
}

.description {
	position: relative;
	text-align: center;
	font-size: 20px;
	flex-direction: column;
	line-height: 2.65em;
}

.description p {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.description a {
	white-space: nowrap;
	padding: 0;
	display: flex;
	align-items: center;
}

.svg {
	fill: rgb(38, 43, 53);
	width: 300px;
	height: 300px;
}