.description {
	position: relative;
	text-align: center;
	font-size: 20px;
	flex-direction: column;
	line-height: 3em;
	height: 600px;
}

.description p {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.description a {
	white-space: nowrap;
	padding: 0;
	display: flex;
	align-items: center;
}

.svg {
	fill: var(--background-bright);
	width: 300px;
	height: 300px;
}