.description {
	position: relative;
	text-align: center;
	font-size: 20px;
	flex-direction: column;
	line-height: 3em;
	height: 600px;
}

.description a {
	white-space: nowrap;
}


.linkIcon {
	margin-right: 0.8em;
}