.work {
	padding: 0.5em 1.5em;
}

.work h4 {
	margin: -0.5em 0 0.55em;
}

.time {
	color: white;
	font-weight: bold;
}

.description {
	margin-top: 1em;
}

.stack {
	display: flex;
	flex-wrap: wrap;
	margin: 1.2em 0 0;
}

.stackItem {
	margin: 0.5em 1em 0.5em 0;
	font-weight: 500;
	font-size: 0.8rem;
	color: white;
}

.linkIcon {
	display: flex;
	margin-right: 0.8em;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}

.project .link--icon {
	margin-left: 0.5em;
}

@media (max-width: 845px) {
	.project {
		width: 100%;
	}
}