* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	box-shadow: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: var(--background-bright);
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	overflow: overlay;
	cursor: default;
}

h1,
h2,
h3,
h4 {
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.2;
	color: var(--primary);
	overflow: hidden;
}

h1 {
	font-size: 4rem;
	overflow: visible;
}

h2 {
	font-size: min(16vw, 13rem);
	margin-bottom: 0.2em;
	z-index: 0;
}

.content h2 {
	text-align: center;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

main {
	margin: 0 auto;
}

.app {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	color: var(--font);
	background-color: var(--background);
	background-image: var(--background-image);
}

.theme {
	--background: #1c1e26;
	--background-bright: hwb(220 14% 80%);
	--background-image: url("../public/navy.png");
	--font: rgb(188, 191, 199);
	--font-hs: rgb(189, 191, 199);
	--hover: rgb(255, 240, 197);
	--primary: #ffe869;
	--shadow: rgba(0, 0, 0, 0.40) 0px 6px 26px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	--shadow-nav: 0 0 15px rgba(0, 0, 10, 1);
	--shadow-nav-mob: 0 0 10px rgba(0, 0, 10, 0.75);
}

.dark,
.normal {
	padding: 0em 5em 8em;
}

@media (max-width: 970px) {

	.dark,
	.normal {
		padding: 0em 2em 8em;
	}
}

.dark {
	background-color: var(--background-bright);
	background-image: var(--background-image);
}

.dark h2 {
	color: var(--background);
	text-transform: lowercase;
}

.normal h2 {
	color: var(--background-bright);
	text-transform: lowercase;
}

.content {
	margin: 0 auto;
	max-width: 1200px;
}

.link {
	color: var(--primary);
	padding: 0 0 0.3em 0;
	position: relative;
	transition: color 0.5s;
}

.link:hover {
	color: var(--hover);
}

@media (max-width: 600px) {
	.section {
		margin-top: 4em;
	}
}

#experience,
#skills,
#education,
#certificates,
#languages,
#recomm,
#contact {
	scroll-margin-top: 4rem;
	scroll-snap-margin-top: 4rem;
}

@media (max-width: 1050px) {
	.section {
		margin-top: 4em;
	}

	#experience,
	#skills,
	#education,
	#certificates,
	#languages,
	#recomm,
	#contact {
		scroll-margin-top: 3.5em;
		scroll-snap-margin-top: 3.5em;
	}
}


/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 232, 105);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 240, 197);
}