@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');


.about {
	flex-direction: column;
	padding-top: 14em;
	padding-bottom: 9em;
	margin-bottom: 7em;
}

.about h1,
.about h2 {
	color: var(--font-hs);
}

.about h1 {
	line-height: 1.2;
}

.name {
	font-family: 'Narziss Pro', serif;
	/* font-family: 'Noto Serif Display', serif; */
	font-weight: 600;
	font-size: 7.2rem;
	color: var(--primary);
}

.hi {
	font-size: 2.8rem;
	margin-bottom: 0.3em;
}

.role {
	margin-top: 0.55em;
}

.desc {
	margin-top: 1.6em;
	font-size: 1rem;
	max-width: 600px;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.4em;
	align-items: center;
}

.contact a {
	margin: 15px 7.1em 15px 0;
}

.btnOutline {
	white-space: nowrap;
}

.btnOutline:hover {
	border: 2px solid var(--hover);
}

.about .linkIcon {
	display: flex;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}

@media (max-width: 800px) {
	.about {
		padding-top: 6.2em;
	}

	.hi {
		font-size: 2.2rem !important;
	}

	.name {
		font-size: 3rem !important;
	}

	.role {
		font-size: 1.9rem !important;
	}
}