@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');

.container {
	padding: 11em 3em 9em 3em;
}

.flexbox {
	display: flex;
	margin-bottom: 7em;
	justify-content: space-between;
	align-items: center;
}

.about h1,
.about h2 {
	color: var(--font-hs);
}

.about h1 {
	line-height: 1.2;
}

.name {
	font-family: 'Narziss Pro', serif;
	/* font-family: 'Noto Serif Display', serif; */
	font-weight: 700;
	font-size: 7.2rem;
	color: var(--primary);
}

.hi {
	font-size: 2.8rem;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.role {
	font-size: 2.8rem;
	font-weight: bold;
	margin-top: 0.55em;
}

.desc {
	margin-top: 1.6em;
	font-size: 1rem;
	max-width: 600px;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.4em;
	align-items: center;
}

.contact a {
	margin: 15px 7.1em 15px 0;
}

.about .linkIcon {
	display: flex;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}

@media (max-width: 800px) {
	.about {
		padding-top: 6.2em;
	}

	.hi {
		font-size: 2.2rem !important;
	}

	.name {
		font-size: 3rem !important;
	}

	.role {
		font-size: 1.9rem !important;
	}
}

.btn {
	/* display: block; */
	border-radius: 12px;
	color: var(--primary);
	border: 2px solid var(--primary);
	cursor: pointer;
	padding: 0.7em 1.3em;
	font-weight: 500;
	font-size: 0.9rem;
	white-space: nowrap;
	transition: all 0.25s ease-out;
}

.btn:hover {
	border: 2px solid var(--hover);
	color: var(--hover);
}

.navList {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--font);
	font-size: 2rem;
}


.navList li {
	padding: 0.6em 0;
	position: relative;
}

.navList li:hover {
	color: var(--primary);
}

.navList li::before {
	content: '';
	display: inline;
	width: 90%;
	right: 5%;
	left: 5%;
	top: 80%;
	opacity: 0%;
	height: 5px;
	position: absolute;
	bottom: 0;
	background-color: var(--primary);
	transition: opacity 0.4s;
}

.navList li:hover::before,
.navList li:focus::before {
	opacity: 100%;
}