.about {
	text-align: center;
	flex-direction: column;
	padding-top: 9em;
}

.name {
	color: var(--clr-primary);
}

.role {
	margin-top: 0.8em;
	text-align: center;
	padding: 0 25px;
}

.desc {
	margin-top: 1.6em;
	text-align: center;
	font-size: 1rem;
	max-width: 600px;
	padding: 0 25px;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.4em;
	align-items: center;
	justify-content: center;
}

.btnOutline {
	white-space: nowrap;
}

.contact a {
	margin: 15px 8px;
}

.about .linkIcon {
	display: flex;
	margin-right: 0.8em;
}

.linkIcon svg {
	margin: 0 0 0 5px;
}

.about .btnOutline {
	margin-right: 1em;
}

@media (max-width: 800px) {
	.about {
		padding-top: 6.2em;
	}
}